.path-0 {
    animation: pathAnim-0 7s linear infinite;
  }
  
  @keyframes pathAnim-0 {
    0% {
      d: path("M 0,400 L 0,150 C 46.57,124.24 93.13,98.49 139,129 C 184.87,159.51 230.04,246.29 290,260 C 349.96,273.71 424.70,214.36 488,240 C 551.30,265.64 603.15,376.29 658,396 C 712.85,415.71 770.71,344.50 812,375 C 853.29,405.50 878.02,537.72 932,584 C 985.98,630.28 1069.23,590.61 1130,588 C 1190.77,585.39 1229.08,619.82 1277,653 C 1324.92,686.18 1382.46,718.09 1440,750 L 1440,400 L 0,400 Z");
    }
    25% {
      d: path("M 0,400 L 0,150 C 58.45,130.96 116.91,111.91 173,138 C 229.09,164.09 282.83,235.31 330,271 C 377.17,306.69 417.79,306.86 473,310 C 528.21,313.14 598.02,319.24 655,360 C 711.98,400.76 756.14,476.17 796,521 C 835.86,565.83 871.43,580.08 930,566 C 988.57,551.92 1070.15,509.52 1137,536 C 1203.85,562.48 1255.96,657.85 1304,705 C 1352.04,752.15 1396.02,751.07 1440,750 L 1440,400 L 0,400 Z");
    }
    50% {
      d: path("M 0,400 L 0,150 C 45.48,181.64 90.97,213.29 148,220 C 205.03,226.71 273.61,208.50 328,223 C 382.39,237.50 422.58,284.71 475,300 C 527.42,315.29 592.08,298.67 641,339 C 689.92,379.33 723.09,476.63 780,496 C 836.91,515.37 917.54,456.82 975,471 C 1032.46,485.18 1066.74,572.09 1118,626 C 1169.26,679.91 1237.50,700.83 1294,716 C 1350.50,731.17 1395.25,740.58 1440,750 L 1440,400 L 0,400 Z");
    }
    75% {
      d: path("M 0,400 L 0,150 C 49.79,170.39 99.57,190.79 154,182 C 208.43,173.21 267.49,135.25 329,166 C 390.51,196.75 454.47,296.22 505,317 C 555.53,337.78 592.64,279.88 649,307 C 705.36,334.12 780.97,446.26 826,473 C 871.03,499.74 885.49,441.06 937,450 C 988.51,458.94 1077.06,535.48 1135,573 C 1192.94,610.52 1220.27,609.00 1266,632 C 1311.73,654.99 1375.87,702.50 1440,750 L 1440,400 L 0,400 Z");
    }
    100% {
      d: path("M 0,400 L 0,150 C 46.57,124.24 93.13,98.49 139,129 C 184.87,159.51 230.04,246.29 290,260 C 349.96,273.71 424.70,214.36 488,240 C 551.30,265.64 603.15,376.29 658,396 C 712.85,415.71 770.71,344.50 812,375 C 853.29,405.50 878.02,537.72 932,584 C 985.98,630.28 1069.23,590.61 1130,588 C 1190.77,585.39 1229.08,619.82 1277,653 C 1324.92,686.18 1382.46,718.09 1440,750 L 1440,400 L 0,400 Z");
    }
  }

  .path-1 {
    animation: pathAnim-1 8s linear infinite;
  }
  
  @keyframes pathAnim-1 {
    0% {
      d: path("M 0,400 L 0,233 C 67.96,206.87 135.91,180.74 189,189 C 242.09,197.26 280.31,239.9 329,272 C 377.69,304.1 436.86,325.65 494,358 C 551.14,390.35 606.24,433.51 659,459 C 711.76,484.49 762.16,492.32 816,524 C 869.84,555.68 927.11,611.2 981,638 C 1034.89,664.8 1085.39,662.87 1139,677 C 1192.61,691.13 1249.32,721.32 1300,750 C 1350.68,778.68 1395.34,805.84 1440,833 L 1440,400 L 0,400 Z");
    }
    25% {
      d: path("M 0,400 L 0,233 C 35.32,236.55 70.63,240.11 131,266 C 191.37,291.89 276.78,340.13 340,350 C 403.22,359.87 444.23,331.37 496,353 C 547.77,374.63 610.3,446.38 664,468 C 717.7,489.62 762.58,461.11 812,493 C 861.42,524.89 915.39,617.18 967,653 C 1018.61,688.82 1067.86,668.18 1119,677 C 1170.14,685.82 1223.18,724.09 1277,755 C 1330.82,785.91 1385.41,809.45 1440,833 L 1440,400 L 0,400 Z");
    }
    50% {
      d: path("M 0,400 L 0,233 C 66.47,242.81 132.95,252.62 187,270 C 241.05,287.38 282.68,312.33 328,320 C 373.32,327.67 422.32,318.06 475,350 C 527.68,381.94 584.05,455.42 645,496 C 705.95,536.58 771.5,544.27 828,571 C 884.5,597.73 931.97,643.51 973,656 C 1014.03,668.49 1048.62,647.71 1095,662 C 1141.38,676.29 1199.54,725.65 1259,760 C 1318.46,794.35 1379.23,813.67 1440,833 L 1440,400 L 0,400 Z");
    }
    75% {
      d: path("M 0,400 L 0,233 C 49.26,201.65 98.52,170.29 146,191 C 193.48,211.71 239.19,284.48 296,317 C 352.81,349.52 420.74,341.81 481,344 C 541.26,346.19 593.86,358.3 638,411 C 682.14,463.7 717.81,556.99 775,582 C 832.19,607.01 910.9,563.72 975,576 C 1039.1,588.28 1088.6,656.11 1138,698 C 1187.4,739.89 1236.68,755.82 1287,774 C 1337.32,792.18 1388.66,812.59 1440,833 L 1440,400 L 0,400 Z");
    }
    100% {
      d: path("M 0,400 L 0,233 C 67.96,206.87 135.91,180.74 189,189 C 242.09,197.26 280.31,239.9 329,272 C 377.69,304.1 436.86,325.65 494,358 C 551.14,390.35 606.24,433.51 659,459 C 711.76,484.49 762.16,492.32 816,524 C 869.84,555.68 927.11,611.2 981,638 C 1034.89,664.8 1085.39,662.87 1139,677 C 1192.61,691.13 1249.32,721.32 1300,750 C 1350.68,778.68 1395.34,805.84 1440,833 L 1440,400 L 0,400 Z");
    }
  }
  
  